    body {
    background-color: #303030;
    margin: 0;
    padding: 0;
}


nav {
    width: 98vw;
    background-color: #303030;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    position:sticky;
    top: 0px;
    border-bottom: 3px solid green;
    border-radius: 15px;
    left: 1%;
    
    
}

@media (min-width: 1024px) {
    nav {
        height: 10vh;
        border-bottom: 2px solid red;
}}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 0 0 0;
    align-items: center;

}

nav li { 
    background-color: #505050;
    height: 100%;
    display: flex;
    justify-content: flex; 
    align-items: center;    
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 15px;

}





nav a {
    color: black;
    height: 100%;
    text-decoration: none;
    padding: 1px 2vw 1px 2vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 15px;
}


@media (min-width:485px){
    nav a {
        padding: 0px 5vw 0px 5vw;
    }
    
}


nav a:hover {
    background-color: rgb(19, 169, 14);
    transition: background-color 1s ;
}

@media (min-width:1024px) {
    nav a:hover {
        background-color: rgb(255, 153, 0);
    }   
}

#selected_nav{
    background-color: greenyellow;
}

@media (min-width:1024px) {
    #selected_nav{
    background-color: rgb(255, 94, 0);
}}

div{
    
    justify-content: center;
    margin: 10px;
    background-color: #707070;
    border-radius: 20px
}

div h1 {
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    font-size: larger;
    width:100%;
    line-height: 1.5;
}
#image_holder{
    display: flex;
    justify-content: center;
}


#image_holder img{
    width:200px;
     height:150px;
}



@media (min-width:1024px){
    #image_holder img{
        width:400px;
         height:300px;
    }   
}



.centerized{
    display: flex;
}

.para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.holder_type_1{
    display: inline;
    
}

@media (min-width: 1250px){
    .holder_type_1{
        display: flex;
        justify-content: center;
    }
}

.spec_img{
    width: 250px;
    height: 175px;
}
.spec_img2{
    width: 275px;
    height: 175px;
}

@media (min-width:500px){
    .spec_img{
        width: 300px;
        height: 200px;
    }
    .spec_img2{
        width: 400px;
        height: 200px;
    }
}

@media (min-width:800px){
    .spec_img{
        width: 500px;
        height: 350px;
    }
    .spec_img2{
        width: 650px;
        height: 350px;
    }
}
@media (min-width:1250px){
    .spec_img{
        width: 300px;
        height: 200px;
    }
    .spec_img2{
        width: 400px;
        height: 200px;
    }
}

.con{
    text-align: center;   
}
.title{
    display: inline;
    border: 2px solid greenyellow;
    padding: 10px;
    border-radius: 9999px;
}

@media (min-width:600px){
.title{
    border: 2px solid orange;
    padding: 30px 10px 30px 10px;
}}


div ul{
    border: 2px dotted bisque;
    padding: 30px;
    border-radius: 15px;
}

.main {
    border: #11c09d solid 3px;
}

@media (min-width:1024px){
    .main{
        border: rgb(155, 51, 80) solid 4px;
    }
}